

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff'),
  url('../fonts/ProximaNova/ProximaNova-Semibold.ttf') format('truetype'),
  url('../fonts/ProximaNova/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova/ProximaNova-Light.woff') format('woff'),
  url('../fonts/ProximaNova/ProximaNova-Light.ttf') format('truetype'),
  url('../fonts/ProximaNova/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa Slab';
  src: url('../fonts/NexaSlab/NexaSlab-xBold.eot');
  src: url('../fonts/NexaSlab/NexaSlab-xBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NexaSlab/NexaSlab-xBold.woff') format('woff'),
  url('../fonts/NexaSlab/NexaSlab-xBold.ttf') format('truetype'),
  url('../fonts/NexaSlab/NexaSlab-xBold.svg#NexaSlab-xBold') format('svg');
  font-weight: 800;
  font-style: normal;
}
