/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-right-name: 'arrow-right';
$arrow-right-x: 49px;
$arrow-right-y: 34px;
$arrow-right-offset-x: -49px;
$arrow-right-offset-y: -34px;
$arrow-right-width: 13px;
$arrow-right-height: 19px;
$arrow-right-total-width: 170px;
$arrow-right-total-height: 55px;
$arrow-right-image: 'sprite.png';
$arrow-right: (49px, 34px, -49px, -34px, 13px, 19px, 170px, 55px, 'sprite.png', 'arrow-right', );
$lime-logo-name: 'lime-logo';
$lime-logo-x: 0px;
$lime-logo-y: 0px;
$lime-logo-offset-x: 0px;
$lime-logo-offset-y: 0px;
$lime-logo-width: 170px;
$lime-logo-height: 34px;
$lime-logo-total-width: 170px;
$lime-logo-total-height: 55px;
$lime-logo-image: 'sprite.png';
$lime-logo: (0px, 0px, 0px, 0px, 170px, 34px, 170px, 55px, 'sprite.png', 'lime-logo', );
$quote-left-name: 'quote-left';
$quote-left-x: 25px;
$quote-left-y: 34px;
$quote-left-offset-x: -25px;
$quote-left-offset-y: -34px;
$quote-left-width: 24px;
$quote-left-height: 20px;
$quote-left-total-width: 170px;
$quote-left-total-height: 55px;
$quote-left-image: 'sprite.png';
$quote-left: (25px, 34px, -25px, -34px, 24px, 20px, 170px, 55px, 'sprite.png', 'quote-left', );
$quote-right-name: 'quote-right';
$quote-right-x: 0px;
$quote-right-y: 34px;
$quote-right-offset-x: 0px;
$quote-right-offset-y: -34px;
$quote-right-width: 25px;
$quote-right-height: 21px;
$quote-right-total-width: 170px;
$quote-right-total-height: 55px;
$quote-right-image: 'sprite.png';
$quote-right: (0px, 34px, 0px, -34px, 25px, 21px, 170px, 55px, 'sprite.png', 'quote-right', );
$spritesheet-width: 170px;
$spritesheet-height: 55px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($arrow-right, $lime-logo, $quote-left, $quote-right, );
$spritesheet: (170px, 55px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
