%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-comment {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-comment-dims {
	width: 92px;
	height: 88px;
}

.svg-download {
	@extend %svg-common;
	background-position: 36.07843137254902% 0;
}

.svg-download-dims {
	width: 92px;
	height: 87.2px;
}

.svg-eye {
	@extend %svg-common;
	background-position: 0 33.07276007215875%;
}

.svg-eye-dims {
	width: 92px;
	height: 77.92px;
}

.svg-facebook {
	@extend %svg-common;
	background-position: 68.34559096649579% 0;
}

.svg-facebook-dims {
	width: 77.78px;
	height: 92px;
}

.svg-googleplus {
	@extend %svg-common;
	background-position: 0 65.69267925723562%;
}

.svg-googleplus-dims {
	width: 92px;
	height: 91.43px;
}

.svg-home {
	@extend %svg-common;
	background-position: 36.07843137254902% 64.9698488526901%;
}

.svg-home-dims {
	width: 92px;
	height: 88.62px;
}

.svg-pinterest {
	@extend %svg-common;
	background-position: 99.87790919496373% 0;
}

.svg-pinterest-dims {
	width: 84.9px;
	height: 92px;
}

.svg-twitter {
	@extend %svg-common;
	background-position: 0 99.75579502287%;
}

.svg-twitter-dims {
	width: 92px;
	height: 86.02px;
}

