%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-comment {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-comment-dims {
	width: 80px;
	height: 77.5px;
}

.svg-download {
	@extend %svg-common;
	background-position: 35.242290748898675% 0;
}

.svg-download-dims {
	width: 80px;
	height: 77px;
}

.svg-eye {
	@extend %svg-common;
	background-position: 0 33.14798973481608%;
}

.svg-eye-dims {
	width: 80px;
	height: 71.2px;
}

.svg-facebook {
	@extend %svg-common;
	background-position: 67.82822502013651% 0;
}

.svg-facebook-dims {
	width: 71.11px;
	height: 80px;
}

.svg-googleplus {
	@extend %svg-common;
	background-position: 0 65.98331558395455%;
}

.svg-googleplus-dims {
	width: 80px;
	height: 79.64px;
}

.svg-home {
	@extend %svg-common;
	background-position: 35.242290748898675% 65.47488001409008%;
}

.svg-home-dims {
	width: 80px;
	height: 77.89px;
}

.svg-pinterest {
	@extend %svg-common;
	background-position: 99.8574144486692% 0;
}

.svg-pinterest-dims {
	width: 75.56px;
	height: 80px;
}

.svg-twitter {
	@extend %svg-common;
	background-position: 0 99.82512896738653%;
}

.svg-twitter-dims {
	width: 80px;
	height: 76.26px;
}

