%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-comment {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-comment-dims {
	width: 80px;
	height: 70px;
}

.svg-download {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-download-dims {
	width: 100px;
	height: 85px;
}

.svg-eye {
	@extend %svg-common;
	background-position: 41.666666666666664% 0;
}

.svg-eye-dims {
	width: 100px;
	height: 56px;
}

.svg-facebook {
	@extend %svg-common;
	background-position: 68.96551724137932% 0;
}

.svg-facebook-dims {
	width: 50px;
	height: 90px;
}

.svg-googleplus {
	@extend %svg-common;
	background-position: 99.84025559105432% 48.203592814371255%;
}

.svg-googleplus-dims {
	width: 89.6px;
	height: 88px;
}

.svg-home {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-home-dims {
	width: 90px;
	height: 80.5px;
}

.svg-pinterest {
	@extend %svg-common;
	background-position: 0 54.83870967741935%;
}

.svg-pinterest-dims {
	width: 77.8px;
	height: 100px;
}

.svg-twitter {
	@extend %svg-common;
	background-position: 31.370967741935484% 47.16981132075472%;
}

.svg-twitter-dims {
	width: 92px;
	height: 74.8px;
}

