/* sprites */
.svg-comment, .inf__comments:before, .svg-download, .inf__downloads:before, .svg-eye, .inf__watches:before, .svg-facebook, .social__lk--fb, .svg-googleplus, .social__lk--gp, .svg-home, .nav__home, .svg-pinterest, .social__lk--pt, .svg-twitter, .social__lk--tw {
  background: url("svg/sprite.view.svg") no-repeat; }

.svg-comment, .inf__comments:before {
  background-position: 0 0; }

.svg-comment-dims {
  width: 80px;
  height: 77.5px; }

.svg-download, .inf__downloads:before {
  background-position: 35.242290748898675% 0; }

.svg-download-dims {
  width: 80px;
  height: 77px; }

.svg-eye, .inf__watches:before {
  background-position: 0 33.14798973481608%; }

.svg-eye-dims {
  width: 80px;
  height: 71.2px; }

.svg-facebook, .social__lk--fb {
  background-position: 67.82822502013651% 0; }

.svg-facebook-dims {
  width: 71.11px;
  height: 80px; }

.svg-googleplus, .social__lk--gp {
  background-position: 0 65.98331558395455%; }

.svg-googleplus-dims {
  width: 80px;
  height: 79.64px; }

.svg-home, .nav__home {
  background-position: 35.242290748898675% 65.47488001409008%; }

.svg-home-dims {
  width: 80px;
  height: 77.89px; }

.svg-pinterest, .social__lk--pt {
  background-position: 99.8574144486692% 0; }

.svg-pinterest-dims {
  width: 75.56px;
  height: 80px; }

.svg-twitter, .social__lk--tw {
  background-position: 0 99.82512896738653%; }

.svg-twitter-dims {
  width: 80px;
  height: 76.26px; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active {
  outline: 0; }

a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
  List of CSS3 Sass Mixins File to be @imported and @included as you need
  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files
  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties
------------------------------------------------------------- */
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Semibold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Light.svg#ProximaNova-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Nexa Slab';
  src: url("../fonts/NexaSlab/NexaSlab-xBold.eot");
  src: url("../fonts/NexaSlab/NexaSlab-xBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaSlab/NexaSlab-xBold.woff") format("woff"), url("../fonts/NexaSlab/NexaSlab-xBold.ttf") format("truetype"), url("../fonts/NexaSlab/NexaSlab-xBold.svg#NexaSlab-xBold") format("svg");
  font-weight: 800;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  color: #111111;
  font-family: "Proxima Nova", Arial, sans-serif;
  font-size: 14px; }

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.jumbotron {
  padding: 37px 0;
  background-color: #f1f1f1; }

blockquote {
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.4em;
  position: relative;
  padding: 0 80px;
  margin: 0; }
  blockquote:before, blockquote:after {
    content: "";
    position: absolute;
    display: block;
    background: #86c840 url(./sprites/sprite.png) no-repeat;
    width: 46px;
    height: 46px;
    -webkit-border-radius: 100%;
    -khtml-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%; }
  blockquote:before {
    left: 0;
    background-position: -43px -50px;
    margin-top: 8px; }
  blockquote:after {
    right: 0;
    bottom: 0;
    background-position: 12px -48px;
    margin-bottom: 10px; }

/* all blocks */
.btn {
  display: inline-block;
  background-color: #86c840;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
  line-height: 1em;
  text-shadow: 0 1px 3px rgba(17, 17, 17, 0.7);
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.header__logo {
  display: block;
  float: left;
  margin: 32px 0 40px;
  background: url(./sprites/sprite.png);
  background-position: 0px 0px;
  width: 170px;
  height: 34px; }

.header__navs {
  float: right; }

.nav {
  padding: 0;
  margin: 0; }
  .nav:hover.nav--top .nav__i.active:not(:hover):after {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0; }
  .nav__i {
    display: inline-block;
    vertical-align: top;
    font-weight: 600; }
    .nav__i + .nav__i {
      margin-left: 25px; }
    .nav--top .nav__i {
      font-weight: 300;
      margin-top: 42px;
      padding-bottom: 15px;
      position: relative; }
      .nav--top .nav__i + .nav__i {
        margin-left: 37px; }
      .nav--top .nav__i:after {
        content: "";
        width: 9px;
        height: 9px;
        -webkit-border-radius: 100%;
        -khtml-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -khtml-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: #86c840;
        filter: alpha(opacity=0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-opacity: 0;
        -khtml-opacity: 0;
        -moz-opacity: 0;
        -ms-opacity: 0;
        -o-opacity: 0;
        opacity: 0;
        -webkit-transition: 0.2s ease opacity;
        -khtml-transition: 0.2s ease opacity;
        -moz-transition: 0.2s ease opacity;
        -ms-transition: 0.2s ease opacity;
        -o-transition: 0.2s ease opacity;
        transition: 0.2s ease opacity; }
      .nav--top .nav__i.active:after, .nav--top .nav__i:hover:after {
        filter: alpha(opacity=100);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        -webkit-opacity: 1;
        -khtml-opacity: 1;
        -moz-opacity: 1;
        -ms-opacity: 1;
        -o-opacity: 1;
        opacity: 1; }
      .nav--top .nav__i .nav__lk {
        color: #111111;
        font-size: 16px;
        font-family: "Nexa Slab", serif;
        font-weight: 800; }
  .nav__lk {
    color: #222222;
    text-decoration: none; }
  .nav__home {
    display: block;
    width: 13px;
    height: 12px;
    margin: 1px 0 6px;
    background-image: url(./sprites/sprite.view.svg);
    -webkit-background-size: 112px auto;
    -khtml-background-size: 112px auto;
    -moz-background-size: 112px auto;
    -ms-background-size: 112px auto;
    -o-background-size: 112px auto;
    background-size: 112px auto;
    background-position: 39% 62%; }

.footer {
  padding-top: 50px;
  padding-bottom: 50px; }
  .footer-navs {
    display: inline-block;
    vertical-align: middle; }
  .footer__layout {
    text-align: justify; }
    .footer__layout:after {
      content: "";
      display: inline-block;
      width: 100%; }
  .footer__copyright {
    display: inline-block;
    vertical-align: middle; }
  .footer__social {
    display: inline-block;
    vertical-align: middle; }

.section {
  margin-top: 54px;
  margin-bottom: 54px; }
  .section-header {
    border-left: 5px solid #86c840;
    padding-left: 18px;
    margin-bottom: 50px; }
    .section-header__tl {
      font-size: 36px;
      margin: 0;
      font-family: "Nexa Slab", serif;
      font-weight: 800; }
    .section-header__stl {
      font-weight: 500;
      color: #aaaaaa; }

.freebies {
  text-align: center; }
  .freebies__lst {
    font-size: 0;
    text-align: justify;
    padding: 0 2px;
    margin-bottom: 11px; }
    .freebies__lst:after {
      content: "";
      display: table;
      clear: both; }
    @media (max-width: 939px) {
      .freebies__lst {
        text-align: center; } }
    .freebies__lst:after {
      content: "";
      display: inline-block;
      width: 100%; }
  .freebies__btn-more {
    text-transform: uppercase;
    padding: 12px 25px 10px; }
    .freebies__btn-more:after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 14px;
      width: 13px;
      height: 19px;
      background: #86c840 url(./sprites/sprite.png) no-repeat;
      background-position: -109px -64px; }

.freebie {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #111111;
  text-align: left;
  overflow: hidden;
  font-size: 14px;
  width: 298px;
  margin-bottom: 42px; }
  @media (max-width: 939px) {
    .freebie {
      margin: 0 10px 42px; } }
  .freebie-hovering {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(100%);
    -khtml-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: 0.5s transform ease;
    -khtml-transition: 0.5s transform ease;
    -moz-transition: 0.5s transform ease;
    -ms-transition: 0.5s transform ease;
    -o-transition: 0.5s transform ease;
    transition: 0.5s transform ease;
    padding: 4px; }
  .freebie__img {
    background-color: #f1f1f1;
    height: 224px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    position: relative;
    overflow: hidden; }
    .freebie__img:hover .freebie-hovering {
      -webkit-transform: translateX(0);
      -khtml-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
  .freebie-header {
    padding: 20px 52px 5px 13px;
    position: relative; }
    .freebie-header:after {
      content: "";
      display: block;
      position: absolute;
      right: 16px;
      top: 50%;
      margin-top: 6px;
      -webkit-transform: translateY(-50%);
      -khtml-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      background: #86c840 url(./sprites/sprite.png) no-repeat;
      width: 32px;
      height: 32px;
      -webkit-border-radius: 100%;
      -khtml-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      border-radius: 100%;
      background-position: -98px -57px; }
    .freebie-header__tl {
      font-size: 16px;
      font-family: "Nexa Slab", serif;
      font-weight: 800;
      height: 1.2em;
      overflow: hidden;
      text-overflow: ellipsis; }
    .freebie-header__stl {
      font-size: 14px;
      color: #aaaaaa; }

.inf {
  font-size: 12px;
  background-color: #111111;
  color: #fff;
  text-align: right;
  padding: 12px 14px 12px 10px;
  -webkit-border-radius: 0 0 4px 4px;
  -khtml-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px; }
  .inf__value {
    display: inline-block;
    vertical-align: middle;
    min-width: 20px;
    text-align: left; }
  .inf__date {
    float: left; }
  .inf__watches, .inf__comments, .inf__downloads {
    display: inline-block;
    vertical-align: middle; }
    .inf__watches:before, .inf__comments:before, .inf__downloads:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      background-image: url(./sprites/sprite.view.svg);
      -webkit-background-size: 176px auto;
      -khtml-background-size: 176px auto;
      -moz-background-size: 176px auto;
      -ms-background-size: 176px auto;
      -o-background-size: 176px auto;
      background-size: 176px auto;
      width: 15px;
      height: 15px;
      margin-right: 2px; }
  .inf__watches:before {
    width: 22px;
    background-position: 8% 36%;
    margin-right: 4px; }
  .inf__comments {
    margin-left: 10px;
    margin-right: 5px; }
    .inf__comments:before {
      width: 22px;
      background-position: 6% 8%;
      -webkit-background-size: 118px auto;
      -khtml-background-size: 118px auto;
      -moz-background-size: 118px auto;
      -ms-background-size: 118px auto;
      -o-background-size: 118px auto;
      background-size: 118px auto; }
  .inf__downloads:before {
    width: 14px;
    height: 14px;
    background-position: 40% 8%;
    -webkit-background-size: 112px auto;
    -khtml-background-size: 112px auto;
    -moz-background-size: 112px auto;
    -ms-background-size: 112px auto;
    -o-background-size: 112px auto;
    background-size: 112px auto; }

.social {
  font-size: 0;
  padding: 0;
  list-style: none;
  margin-right: 42px; }
  .social__i {
    display: inline-block; }
    .social__i + .social__i {
      margin-left: 10px; }
  .social__lk {
    display: block;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 100%;
    -khtml-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    background-color: #111111;
    background-image: url(./sprites/sprite.view.svg);
    -webkit-background-size: 154px auto;
    -khtml-background-size: 154px auto;
    -moz-background-size: 154px auto;
    -ms-background-size: 154px auto;
    -o-background-size: 154px auto;
    background-size: 154px auto; }
    .social__lk--tw {
      background-position: 0% 100%; }
    .social__lk--fb {
      background-position: 69% 0%; }
    .social__lk--pt {
      -webkit-background-size: 170px auto;
      -khtml-background-size: 170px auto;
      -moz-background-size: 170px auto;
      -ms-background-size: 170px auto;
      -o-background-size: 170px auto;
      background-size: 170px auto;
      background-position: 100% 1%; }
