.footer{
	padding-top: 50px;
	padding-bottom: 50px;

	&-navs{
		
		display: inline-block;
		vertical-align: middle;
	}
	&__layout{
		text-align: justify;
		&:after{
	      content: "";
	      display: inline-block;
	      width: 100%;
	    
	    }
	}

	&__copyright{
		display: inline-block;
		vertical-align: middle;
	}
	&__social{
		display: inline-block;
		vertical-align: middle;
	}
}