.header{
  &__logo{
    display: block;
    float: left;

    margin: 32px 0 40px;

    background: url(#{$sprite-png-path});
    @include sprite-position($lime-logo);
    @include sprite-width($lime-logo);
    @include sprite-height($lime-logo);
  }
  &__navs{
    float: right;
  }
}