.nav{
  padding: 0;
  margin: 0;
  &:hover{
    &.nav--top .nav__i{
      &.active:not(:hover){
        &:after{
          @include opacity(0);
        }
      }
    }
  }
  &__i{
    display: inline-block;
    vertical-align: top;
    font-weight: 600;
    & + &{
      margin-left: 25px;
    }
    .nav--top &{
      font-weight: 300;
      margin-top: 42px;
      padding-bottom: 15px;
      position: relative;
      & + .nav__i{
        margin-left: 37px;
      }

      &:after{
        content: "";
        @include circle(9px);
        position: absolute;
        bottom: 0;
        left: 50%;
        @include transform(translateX(-50%));
        background-color: $primary-color;
        @include opacity(0);
        @include transition(.2s ease opacity);
      }
      &.active, &:hover{
        &:after{
          @include opacity(1);
        }
      }
      .nav__lk{
      color: $text-color;
      font-size: 16px;
      @include font-heading();
    }
    }
  }
  &__lk{
    color: $graydark;
    text-decoration: none;
  }
  &__home{
    display: block;

    @extend .svg-home;

    width: 13px;
    height: 12px;
    margin: 1px 0 6px;

    background-image: url(#{$svg-sprite-path});
    @include background-size(112px auto);
    background-position: 39% 62%;
  }
}