.nav{
  padding: 0;
  margin: 0;

  &:hover{
    &.nav--top .nav__i{
      &.active:not(:hover){
        &:after{
          @include opacity(0);
        }
      }
    }
  }
  &__i{
    display: inline-block;
    vertical-align: top;
    font-weight: 600;
    & + &{
      margin-left: 25px;
    }
    .nav--top &{
      font-weight: 300;
      margin-top: 42px;
      padding-bottom: 15px;
      position: relative;
      
      @media (max-width: $screen-breakpoint) {
        padding-bottom: 0;
        padding-left: 15px;
      }

      & + .nav__i{
        margin-left: 37px;
        @media (max-width: $screen-breakpoint) {
          padding-top: 10px;
          padding-bottom: 10px;
          margin: 0;
        }
      }


      &:after{
        content: "";
        @include circle(9px);
        position: absolute;
        left: 0;
        background-color: $primary-color;
        @include opacity(0);
        @include transition(.2s ease opacity);
        @media (max-width: $screen-breakpoint) {
          @include transform(translateY(-50%));
          top: 50%;
        }
        @media (min-width: ($screen-breakpoint + 1)) {
          bottom: 0;
          left: 50%;
          @include transform(translateX(-50%));
        }
      }
      &.active, &:hover{
        &:after{
          @include opacity(1);
        }
      }
      .nav__lk{
      color: $text-color;
      font-size: 16px;
      @include font-heading();
    }
    }
  }
  &__lk{
    color: $graydark;
    text-decoration: none;
  }
  &__home{
    display: block;

    @extend .svg-home;

    width: 13px;
    height: 12px;
    margin: 1px 0 6px;

    background-image: url(#{$svg-sprite-path});
    @include background-size(112px auto);
    background-position: 38% 62%;
  }
}
.nav--top{
  @media (max-width: $screen-breakpoint){
    background-color: $white;
    padding: 70px 10px 20px;
    width: 300px;

    .nav{
      
      &__i{
        width: 100%;
        display: block;
        text-align: left;
        margin: 0;
      }
      &__a{
       text-align: left; 
      }
    }
  }
}