.section{
	margin-top: 54px;
	margin-bottom: 54px;

  &-header{
    border-left: 5px solid $primary-color;
    padding-left: 18px;
    margin-bottom: 50px;
  	
  	&__tl{
  		font-size: 36px;
  		margin: 0;
  		@include font-heading();
  	}
    
    &__stl{
      font-weight: 500;
      color: $text-gray;
    }
  }
}